# CLASE 7 - Manipulación de datos con pandas II
### Coderhouse - Data Science
Profe Jorge Ruiz

In [1]:
# importar las librerias
import pandas as pd
import numpy as np

In [2]:

frutas = ['manzana', 'naranja', 'banana', 'uva', None]
precios = [1.99, 0.99, np.nan, 2.99, 3.2]
cantidad = [10, 20, 30, 40, None]

df = pd.DataFrame({'precio': precios, 'cantidad': cantidad}, index=frutas)
df

         precio  cantidad
manzana    1.99      10.0
naranja    0.99      20.0
banana      NaN      30.0
uva        2.99      40.0
None       3.20       NaN

In [3]:
df.iloc[2]

precio       NaN
cantidad    30.0
Name: banana, dtype: float64

In [4]:
df.loc["banana"]

precio       NaN
cantidad    30.0
Name: banana, dtype: float64

In [5]:
df.iloc["banana"]

TypeError: Cannot index by location index with a non-integer key

In [6]:
df.loc[df['precio'] == 2.99]

     precio  cantidad
uva    2.99      40.0

In [7]:
df[df["precio"] ==2.99]

     precio  cantidad
uva    2.99      40.0

In [8]:
df[df.precio==2.99]

     precio  cantidad
uva    2.99      40.0

# Tratamiento para valores faltantes

In [9]:
df.index= df.index.fillna("pera")
df

         precio  cantidad
manzana    1.99      10.0
naranja    0.99      20.0
banana      NaN      30.0
uva        2.99      40.0
pera       3.20       NaN

In [10]:
df["precio"].loc["banana"]= 48
df

         precio  cantidad
manzana    1.99      10.0
naranja    0.99      20.0
banana    48.00      30.0
uva        2.99      40.0
pera       3.20       NaN

In [11]:
df.cantidad= df.cantidad.fillna(df.cantidad.mean())
df

         precio  cantidad
manzana    1.99      10.0
naranja    0.99      20.0
banana    48.00      30.0
uva        2.99      40.0
pera       3.20      25.0

In [12]:
# Ruta al archivo CSV
file_path = 'pune_1965_to_2002.csv'

# Leer el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path)

df_lluvias_archivo=df

df_lluvias_archivo.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1,1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
2,1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
3,1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
4,1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [13]:
# Dejar Year como index
df_lluvias_archivo.set_index('Year', inplace=True)
df_lluvias=df_lluvias_archivo
df_lluvias.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

Un camino alternativo para abrir el archivo:

In [14]:
# Ruta al archivo CSV
file_path = 'pune_1965_to_2002.csv'

# Leer el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path, index_col=0)

df_lluvias_archivo=df

df_lluvias_archivo.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1965,0.029,0.069,0.000,21.667,17.859,102.111,606.071,402.521,69.511,5.249,16.232,22.075
1966,0.905,0.000,0.000,2.981,63.008,94.088,481.942,59.386,150.624,1.308,41.214,4.132
1967,0.248,3.390,1.320,13.482,11.116,251.314,780.006,181.069,183.757,50.404,8.393,37.685
1968,0.318,3.035,1.704,23.307,7.441,179.872,379.354,171.979,219.884,73.997,23.326,2.020
1969,0.248,2.524,0.334,4.569,6.213,393.682,678.354,397.335,205.413,24.014,24.385,1.951

In [15]:
df_lluvias.sum()

Jan       11.186
Feb       41.843
Mar       63.733
Apr      470.487
May      952.272
Jun    12809.663
Jul    16340.395
Aug    10529.357
Sep     7642.245
Oct     2783.320
Nov      958.492
Dec      230.646
dtype: float64

In [16]:
df_lluvias.mean() #la media tiene mas sentido en lluvia

Jan      0.294368
Feb      1.101132
Mar      1.677184
Apr     12.381237
May     25.059789
Jun    337.096395
Jul    430.010395
Aug    277.088342
Sep    201.111711
Oct     73.245263
Nov     25.223474
Dec      6.069632
dtype: float64

In [17]:
df_lluvias.sum(axis='columns')

Year
1965    1263.394
1966     899.588
1967    1522.184
1968    1086.237
1969    1739.022
1970    1273.507
1971    1176.612
1972     710.475
1973    1570.073
1974    1425.876
1975    1777.838
1976    1941.167
1977    1202.154
1978    1168.583
1979    1769.187
1980    1268.185
1981    1562.761
1982     943.087
1983    1616.948
1984    1538.961
1985    1214.852
1986    1267.969
1987    1197.999
1988    1822.649
1989    1400.024
1990    1766.294
1991    1497.256
1992    1323.883
1993    1210.252
1994    1987.689
1995    1209.068
1996    1631.331
1997    1844.840
1998    1603.243
1999    1235.683
2000    1094.062
2001    1045.825
2002    1024.881
dtype: float64

In [18]:
df_lluvias.sum(axis=0) # 0 es para filas y 1 es para columnas

Jan       11.186
Feb       41.843
Mar       63.733
Apr      470.487
May      952.272
Jun    12809.663
Jul    16340.395
Aug    10529.357
Sep     7642.245
Oct     2783.320
Nov      958.492
Dec      230.646
dtype: float64

In [19]:
df_lluvias.T.mean() # otra forma que podemos utilizar, con la función T (transponer)

Year
1965    105.282833
1966     74.965667
1967    126.848667
1968     90.519750
1969    144.918500
1970    106.125583
1971     98.051000
1972     59.206250
1973    130.839417
1974    118.823000
1975    148.153167
1976    161.763917
1977    100.179500
1978     97.381917
1979    147.432250
1980    105.682083
1981    130.230083
1982     78.590583
1983    134.745667
1984    128.246750
1985    101.237667
1986    105.664083
1987     99.833250
1988    151.887417
1989    116.668667
1990    147.191167
1991    124.771333
1992    110.323583
1993    100.854333
1994    165.640750
1995    100.755667
1996    135.944250
1997    153.736667
1998    133.603583
1999    102.973583
2000     91.171833
2001     87.152083
2002     85.406750
dtype: float64

In [20]:
df_lluvias.describe().round(1)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0
mean,0.3,1.1,1.7,12.4,25.1,337.1,430.0,277.1,201.1,73.2,25.2,6.1
std,0.6,1.7,2.5,13.7,22.5,171.7,178.0,132.2,123.7,62.9,31.8,11.7
min,0.0,0.0,0.0,0.1,0.5,94.1,84.9,59.4,44.6,1.1,0.3,0.0
25%,0.0,0.0,0.0,2.3,7.0,226.2,322.5,183.2,105.9,22.0,3.7,0.0
50%,0.0,0.2,0.6,5.5,18.1,312.1,415.1,243.2,181.0,49.8,14.7,0.5
75%,0.2,1.9,2.1,19.8,33.1,412.6,555.3,401.2,242.4,115.7,37.0,4.2
max,3.0,8.4,9.6,53.3,80.5,773.7,780.0,541.6,613.5,225.9,122.8,37.7

In [21]:
df_lluvias.T.describe().round(1)

Year,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002
count,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
mean,105.3,75.0,126.8,90.5,144.9,106.1,98.1,59.2,130.8,118.8,...,100.9,165.6,100.8,135.9,153.7,133.6,103.0,91.2,87.2,85.4
std,193.8,136.7,223.5,121.5,226.5,130.8,139.3,100.1,209.3,148.0,...,141.6,272.2,154.0,194.0,243.5,189.4,140.4,128.4,108.0,152.2
min,0.0,0.0,0.2,0.3,0.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,4.0,1.2,7.1,2.8,2.4,0.1,0.0,0.1,2.3,0.2,...,1.8,2.0,1.5,2.1,3.8,0.3,0.2,0.9,1.2,0.6
50%,19.8,22.7,25.6,23.3,15.1,42.1,20.1,12.5,10.2,34.0,...,20.7,25.1,25.0,9.3,27.5,34.3,18.6,20.8,15.7,20.0
75%,77.7,70.8,181.7,174.0,252.5,189.8,163.2,81.7,201.6,213.8,...,169.2,145.0,126.5,205.9,154.8,239.8,191.7,165.6,165.9,79.9
max,606.1,481.9,780.0,379.4,678.4,330.5,372.7,338.5,696.0,405.4,...,450.1,749.0,501.5,558.6,673.8,590.7,415.5,371.3,279.5,509.1

In [22]:
# Metodo grouby
df_lluvias_archivo.groupby('Year')['Jan','Feb','Mar'].sum().head(15)

C:\Users\jorge\AppData\Local\Temp\ipykernel_18388\972865550.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_lluvias_archivo.groupby('Year')['Jan','Feb','Mar'].sum().head(15)

        Jan    Feb    Mar
Year
1965  0.029  0.069  0.000
1966  0.905  0.000  0.000
1967  0.248  3.390  1.320
1968  0.318  3.035  1.704
1969  0.248  2.524  0.334
1970  0.070  0.000  0.001
1971  0.000  0.000  0.000
1972  0.000  0.029  0.000
1973  0.000  2.969  0.234
1974  0.000  0.000  6.427
1975  0.333  0.585  0.000
1976  0.000  0.000  5.993
1977  0.000  2.981  3.289
1978  0.061  4.197  4.004
1979  0.000  0.386  3.343

### Agrupar

In [23]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [24]:
iris.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [25]:
iris.groupby('species')['sepal_length', 'sepal_width'].mean()

C:\Users\jorge\AppData\Local\Temp\ipykernel_18388\3323977682.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  iris.groupby('species')['sepal_length', 'sepal_width'].mean()

            sepal_length  sepal_width
species
setosa             5.006        3.428
versicolor         5.936        2.770
virginica          6.588        2.974

### Trabajemos con strings (texto)

In [26]:
Presidentes_archivo = pd.read_csv('us_presidents 2.csv', index_col=0)
Presidentes_archivo

,S.No.,start,end,president,prior,party,vice
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler
9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant
10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
11,12,"March 4, 1849","July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,13,"July 9, 1850","March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
13,14,"March 4, 1853","March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,16,"March 4, 1861","April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,17,"April 15, 1865","March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,18,"March 4, 1869","March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax
18,19,"March 4, 1877","March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler
19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,21,"September 19, 1881","March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
21,22,"March 4, 1885","March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks
22,23,"March 4, 1889","March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,24,"March 4, 1893","March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson
24,25,"March 4, 1897","September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart
25,26,"September 14, 1901","March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
26,27,"March 4, 1909","March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman
27,28,"March 4, 1913","March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall
28,29,"March 4, 1921","August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,30,"August 2, 1923","March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
30,31,"March 4, 1929","March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,32,"March 4, 1933","January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner
32,33,"April 12, 1945","January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
33,34,"January 20, 1953","January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon
34,35,"January 20, 1961","November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,36,"November 22, 1963","January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
36,37,"January 20, 1969","August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,38,"August 9, 1974","January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
38,39,"January 20, 1977","January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale
39,40,"January 20, 1981","January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush
40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence

In [27]:
Presidentes_archivo.columns

Index(['S.No.', 'start', 'end', 'president', 'prior', 'party', 'vice'], dtype='object')

In [28]:
Presidentes_archivo.dtypes

S.No.         int64
start        object
end          object
president    object
prior        object
party        object
vice         object
dtype: object

In [29]:
Presidentes_nombres = pd.Series(Presidentes_archivo['president'])
Presidentes_nombres

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [30]:
Presidentes_archivo['president'].str.upper()

0          GEORGE WASHINGTON
1                 JOHN ADAMS
2           THOMAS JEFFERSON
3              JAMES MADISON
4               JAMES MONROE
5          JOHN QUINCY ADAMS
6             ANDREW JACKSON
7           MARTIN VAN BUREN
8     WILLIAM HENRY HARRISON
9                 JOHN TYLER
10             JAMES K. POLK
11            ZACHARY TAYLOR
12          MILLARD FILLMORE
13           FRANKLIN PIERCE
14            JAMES BUCHANAN
15           ABRAHAM LINCOLN
16            ANDREW JOHNSON
17          ULYSSES S. GRANT
18       RUTHERFORD B. HAYES
19         JAMES A. GARFIELD
20         CHESTER A. ARTHUR
21          GROVER CLEVELAND
22         BENJAMIN HARRISON
23          GROVER CLEVELAND
24          WILLIAM MCKINLEY
25        THEODORE ROOSEVELT
26       WILLIAM HOWARD TAFT
27            WOODROW WILSON
28         WARREN G. HARDING
29           CALVIN COOLIDGE
30            HERBERT HOOVER
31     FRANKLIN D. ROOSEVELT
32           HARRY S. TRUMAN
33      DWIGHT D. EISENHOWER
34           JOHN F. KENNEDY
35         LYNDON B. JOHNSON
36             RICHARD NIXON
37               GERALD FORD
38              JIMMY CARTER
39             RONALD REAGAN
40         GEORGE H. W. BUSH
41              BILL CLINTON
42            GEORGE W. BUSH
43              BARACK OBAMA
44              DONALD TRUMP
Name: president, dtype: object

In [31]:
Presidentes_archivo['president'].str.lower()

0          george washington
1                 john adams
2           thomas jefferson
3              james madison
4               james monroe
5          john quincy adams
6             andrew jackson
7           martin van buren
8     william henry harrison
9                 john tyler
10             james k. polk
11            zachary taylor
12          millard fillmore
13           franklin pierce
14            james buchanan
15           abraham lincoln
16            andrew johnson
17          ulysses s. grant
18       rutherford b. hayes
19         james a. garfield
20         chester a. arthur
21          grover cleveland
22         benjamin harrison
23          grover cleveland
24          william mckinley
25        theodore roosevelt
26       william howard taft
27            woodrow wilson
28         warren g. harding
29           calvin coolidge
30            herbert hoover
31     franklin d. roosevelt
32           harry s. truman
33      dwight d. eisenhower
34           john f. kennedy
35         lyndon b. johnson
36             richard nixon
37               gerald ford
38              jimmy carter
39             ronald reagan
40         george h. w. bush
41              bill clinton
42            george w. bush
43              barack obama
44              donald trump
Name: president, dtype: object

In [32]:
# PRUEBA ESTOS Y CUENTANOS QUE HACEN
#Presidentes_archivo['president'].str.capitalize()
#Presidentes_archivo['president'].str.swapcase()

In [33]:
Presidentes_archivo['president'].str.len()

0     17
1     10
2     16
3     13
4     12
5     17
6     14
7     16
8     22
9     10
10    13
11    14
12    16
13    15
14    14
15    15
16    14
17    16
18    19
19    17
20    17
21    16
22    17
23    16
24    16
25    18
26    19
27    14
28    17
29    15
30    14
31    21
32    15
33    20
34    15
35    17
36    13
37    11
38    12
39    13
40    17
41    12
42    14
43    12
44    12
Name: president, dtype: int64

In [34]:
Presidentes_archivo[Presidentes_archivo['president'].str.startswith('J')]['president']

1            John Adams
3         James Madison
4          James Monroe
5     John Quincy Adams
9            John Tyler
10        James K. Polk
14       James Buchanan
19    James A. Garfield
34      John F. Kennedy
38         Jimmy Carter
Name: president, dtype: object

In [35]:
Presidentes_archivo[Presidentes_archivo['president'].str.endswith('on')]['president']

0          George Washington
2           Thomas Jefferson
3              James Madison
6             Andrew Jackson
8     William Henry Harrison
16            Andrew Johnson
22         Benjamin Harrison
27            Woodrow Wilson
35         Lyndon B. Johnson
36             Richard Nixon
41              Bill Clinton
Name: president, dtype: object

In [36]:
Presidentes_archivo[Presidentes_archivo['president'].str.contains('rack')]['president']

43    Barack Obama
Name: president, dtype: object

In [37]:
Presidentes_archivo['president'].str.split()

0           [George, Washington]
1                  [John, Adams]
2            [Thomas, Jefferson]
3               [James, Madison]
4                [James, Monroe]
5          [John, Quincy, Adams]
6              [Andrew, Jackson]
7           [Martin, Van, Buren]
8     [William, Henry, Harrison]
9                  [John, Tyler]
10             [James, K., Polk]
11             [Zachary, Taylor]
12           [Millard, Fillmore]
13            [Franklin, Pierce]
14             [James, Buchanan]
15            [Abraham, Lincoln]
16             [Andrew, Johnson]
17          [Ulysses, S., Grant]
18       [Rutherford, B., Hayes]
19         [James, A., Garfield]
20         [Chester, A., Arthur]
21           [Grover, Cleveland]
22          [Benjamin, Harrison]
23           [Grover, Cleveland]
24           [William, McKinley]
25         [Theodore, Roosevelt]
26       [William, Howard, Taft]
27             [Woodrow, Wilson]
28         [Warren, G., Harding]
29            [Calvin, Coolidge]
30             [Herbert, Hoover]
31     [Franklin, D., Roosevelt]
32           [Harry, S., Truman]
33      [Dwight, D., Eisenhower]
34           [John, F., Kennedy]
35         [Lyndon, B., Johnson]
36              [Richard, Nixon]
37                [Gerald, Ford]
38               [Jimmy, Carter]
39              [Ronald, Reagan]
40        [George, H., W., Bush]
41               [Bill, Clinton]
42            [George, W., Bush]
43               [Barack, Obama]
44               [Donald, Trump]
Name: president, dtype: object

## Series de tiempo

> Tipo de dato Timestamp

In [38]:
# Fecha clase de hoy
fecha = pd.to_datetime(pd.Timestamp.now())
fecha

Timestamp('2024-04-03 10:40:06.543610')

In [39]:
# Fecha próxima clase
fin = pd.to_datetime(fecha+ pd.Timedelta(weeks=1))
fin

Timestamp('2024-04-10 10:40:06.543610')

In [40]:
# Rango de fechas
fechas_1 = pd.date_range(start=fecha, end=fin,periods=8)
fechas_1

DatetimeIndex(['2024-04-03 10:40:06.543610', '2024-04-04 10:40:06.543610',
               '2024-04-05 10:40:06.543610', '2024-04-06 10:40:06.543610',
               '2024-04-07 10:40:06.543610', '2024-04-08 10:40:06.543610',
               '2024-04-09 10:40:06.543610', '2024-04-10 10:40:06.543610'],
              dtype='datetime64[ns]', freq=None)

In [41]:
mes_inicio = fecha.strftime('%Y/%m')
mes_inicio

'2024/04'

> Tipo de dato timedelta

In [42]:
Presidentes_archivo

,S.No.,start,end,president,prior,party,vice
0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler
9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant
10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
11,12,"March 4, 1849","July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,13,"July 9, 1850","March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
13,14,"March 4, 1853","March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,16,"March 4, 1861","April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,17,"April 15, 1865","March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,18,"March 4, 1869","March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax
18,19,"March 4, 1877","March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler
19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,21,"September 19, 1881","March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
21,22,"March 4, 1885","March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks
22,23,"March 4, 1889","March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,24,"March 4, 1893","March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson
24,25,"March 4, 1897","September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart
25,26,"September 14, 1901","March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
26,27,"March 4, 1909","March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman
27,28,"March 4, 1913","March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall
28,29,"March 4, 1921","August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,30,"August 2, 1923","March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
30,31,"March 4, 1929","March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,32,"March 4, 1933","January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner
32,33,"April 12, 1945","January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
33,34,"January 20, 1953","January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon
34,35,"January 20, 1961","November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,36,"November 22, 1963","January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
36,37,"January 20, 1969","August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,38,"August 9, 1974","January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
38,39,"January 20, 1977","January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale
39,40,"January 20, 1981","January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush
40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence

In [43]:
Presidentes_archivo["start"]= pd.to_datetime(Presidentes_archivo["start"])
Presidentes_archivo

,S.No.,start,end,president,prior,party,vice
0,1,1789-04-30,"March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,2,1797-03-04,"March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,3,1801-03-04,"March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,4,1809-03-04,"March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,5,1817-03-04,"March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
5,6,1825-03-04,"March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
6,7,1829-03-04,"March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,8,1837-03-04,"March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,9,1841-03-04,"April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler
9,10,1841-04-04,"March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant
10,11,1845-03-04,"March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
11,12,1849-03-04,"July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,13,1850-07-09,"March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant
13,14,1853-03-04,"March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,15,1857-03-04,"March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,16,1861-03-04,"April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,17,1865-04-15,"March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,18,1869-03-04,"March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax
18,19,1877-03-04,"March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler
19,20,1881-03-04,"September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,21,1881-09-19,"March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant
21,22,1885-03-04,"March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks
22,23,1889-03-04,"March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,24,1893-03-04,"March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson
24,25,1897-03-04,"September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart
25,26,1901-09-14,"March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant
26,27,1909-03-04,"March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman
27,28,1913-03-04,"March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall
28,29,1921-03-04,"August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,30,1923-08-02,"March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant
30,31,1929-03-04,"March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,32,1933-03-04,"January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner
32,33,1945-04-12,"January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant
33,34,1953-01-20,"January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon
34,35,1961-01-20,"November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,36,1963-11-22,"January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant
36,37,1969-01-20,"August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,38,1974-08-09,"January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant
38,39,1977-01-20,"January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale
39,40,1981-01-20,"January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush
40,41,1989-01-20,"January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,42,1993-01-20,"January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
42,43,2001-01-20,"January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
43,44,2009-01-20,NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,45,2017-01-20,--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence

In [44]:
#extraer el año

Presidentes_archivo["año"] =Presidentes_archivo["start"].dt.year
Presidentes_archivo

,S.No.,start,end,president,prior,party,vice,año
0,1,1789-04-30,"March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,1789
1,2,1797-03-04,"March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,1797
2,3,1801-03-04,"March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,1801
3,4,1809-03-04,"March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,1809
4,5,1817-03-04,"March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,1817
5,6,1825-03-04,"March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun,1825
6,7,1829-03-04,"March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun,1829
7,8,1837-03-04,"March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson,1837
8,9,1841-03-04,"April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler,1841
9,10,1841-04-04,"March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant,1841
10,11,1845-03-04,"March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas,1845
11,12,1849-03-04,"July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore,1849
12,13,1850-07-09,"March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant,1850
13,14,1853-03-04,"March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King,1853
14,15,1857-03-04,"March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge,1857
15,16,1861-03-04,"April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin,1861
16,17,1865-04-15,"March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant,1865
17,18,1869-03-04,"March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax,1869
18,19,1877-03-04,"March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler,1877
19,20,1881-03-04,"September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur,1881
20,21,1881-09-19,"March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant,1881
21,22,1885-03-04,"March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks,1885
22,23,1889-03-04,"March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton,1889
23,24,1893-03-04,"March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson,1893
24,25,1897-03-04,"September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart,1897
25,26,1901-09-14,"March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant,1901
26,27,1909-03-04,"March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman,1909
27,28,1913-03-04,"March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall,1913
28,29,1921-03-04,"August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge,1921
29,30,1923-08-02,"March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant,1923
30,31,1929-03-04,"March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis,1929
31,32,1933-03-04,"January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner,1933
32,33,1945-04-12,"January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant,1945
33,34,1953-01-20,"January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon,1953
34,35,1961-01-20,"November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson,1961
35,36,1963-11-22,"January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant,1963
36,37,1969-01-20,"August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew,1969
37,38,1974-08-09,"January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant,1974
38,39,1977-01-20,"January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale,1977
39,40,1981-01-20,"January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush,1981
40,41,1989-01-20,"January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle,1989
41,42,1993-01-20,"January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore,1993
42,43,2001-01-20,"January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney,2001
43,44,2009-01-20,NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,2009
44,45,2017-01-20,--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence,2017

In [47]:
import pandas as pd

# Crear un DataFrame de ejemplo con un índice de tipo fecha que incluye día, mes y año
df = pd.DataFrame(data=[1, 2, 3], index=pd.to_datetime(['01-01-2022', '02-01-2022', '01-03-2024'],dayfirst=True), columns=['Valor'])
# es clave usar dayfirst=True en este ejemplo
# Extraer el mes del índice
df['Mes'] = df.index.month
df['Año'] = df.index.year
df['Día'] = df.index.day

print(df)

            Valor  Mes   Año  Día
2022-01-01      1    1  2022    1
2022-01-02      2    1  2022    2
2024-03-01      3    3  2024    1